/* soft reset do css */
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  /*! height: ; */
  width: initial;
}


body {
    background-size: 100vh;
    font-family: Arial;
    height:100vh;
    font-size: 12px;
    background-color: antiquewhite;
}

section {
    display: flex;
}

/* se a tela tiver pelo menos 400px carregar esses estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}


@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
}
  
.menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0px;
}
  
.menu ul {
    display: flex;
    justify-content: space-around;
    border: solid rosybrown;
    /*! top: 0; */
}
  
.menu li {
    list-style: none;
}

.menu a {
  
  display: block;
  padding: 10px 20px;
}
  
a {
  color:#000000;
  text-decoration: none;
  font-style: normal;
}

a:hover {
  text-decoration: underline;
  color: purple;
}

.site-subtitle,
.site-title {
  color: #A52A2A;
  text-align: right;
  /*! text-justify: unset; */
  padding-right: inherit;
}

.site-subtitle {
  font-style: italic;
}

.img-minha {
  height: 380px;
  width: 380px;
}

.img-usuario {
  height: 100px;
  width: 100px;
}

.img-twitter {
  height: 70px;
  width: 70px;
}

.img-instagram {
  height: 70px;
  width: 70px;
}

.img-linkedin {
  height: 70px;
  width: 70px;
}

.img-medium {
  height: 70px;
  width: 70px;
}

.img-github {
  height: 70px;
  width: 70px;
}

figure {
  justify-content: space-between;
}
