/* soft reset do css */
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  width: initial;
}

/* estilização da estrutura html */

body {
  background-size: 100vh;
  font-family: Arial;
  height:100vh;
  font-size: 12px;
  background-color: antiquewhite;
}

header {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
}

/* estilização da responsividade do body */
/* se a tela tiver pelo menos 400px carregar esses estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

/* estilização do menu */
.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0px;
  display: grid;
}

.menu ul {
  display: inline-flex;
  justify-content: end;
  align-items: center;
}

.menu li {
  list-style: none;
  display: block;
  text-align: center;
  padding: 0px 13px;
  text-decoration: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
}

li a:hover {
  background-color: antiquewhite;
}

section {
    display: flex;
}

/* estilização de links */
a {
  color:#000000;
  text-decoration: none;
  font-style: normal;
}

a:hover {
  text-decoration: underline;
  color: purple;
}

/* estilização de menu */
.site-subtitle,
.site-title {
  color: black;
  text-align: right;
  padding-right: inherit;
}

.site-title {
  font-family: 'Indie Flower', cursive;
  font-style: oblique;
  color: #000000;
}

.site-subtitle {
  font-style: italic;
  font-family: 'Abril Fatface', cursive;
}

/* estilização de imagens */
.img-minha {
  height: 380px;
  width: 380px;
}

.img-usuario {
  height: 100px;
  width: 100px;
}

.img-twitter {
  height: 70px;
  width: 70px;
}

.img-instagram {
  height: 70px;
  width: 70px;
}

.img-linkedin {
  height: 70px;
  width: 70px;
}

.img-medium {
  height: 70px;
  width: 70px;
}

.img-github {
  height: 70px;
  width: 70px;
}

figure {
  justify-content: space-between;
}
