/* soft reset do css */
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  width: initial;
  object-fit: cover;
  object-position: bottom;
}

/* estilização da estrutura html */

body {
  background-size: 100vh;
  font-family: Arial;
  height: 100vh;
  font-size: 12px;
  background-color: #B0C4DE;
}

header {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
}

/* estilização do menu */
.menu {
  background-color: #FFFFFF;
  position: fixed;
  width: 100vw;
  top: 0px;
  display: grid;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}

.menu li {
  list-style: none;
  display: block;
  text-align: center;
  text-decoration: none;
  margin: auto;
}

.menu a {
  display: flex;
  padding: 11px 70px;
}

.menu a:hover {
  background-color: #B0C4DE;
  color: #FFFFFF;
}

.titleMenu {
  background-color: #B0C4DE;
  padding: 11px 70px;
}

.fas.fa-home {
  padding-bottom: 13px;
}

section {
  text-align: center;
}

/* estilização de links */
a {
  color: #000000;
  text-decoration: none;
  font-style: normal;
}

a:hover {
  text-decoration: underline;
  color: #800080;
}

figure {
  margin: 1.0em;
}

#about,
#contact,
#portfolio {
  padding: 2em;
}

#about h2,
#contact h2,
#portfolio h2 {
  font-family: 'Indie Flower', cursive;
  color: #000000;
  margin-bottom: 0.5em;
  font-size: 2em;
}

#about p {
  color: #000000;
  text-indent: 4em;
  margin-bottom: 0em;
  text-align: center;
}

#about a {
  color: #000000;
  text-decoration: underline;
}

#about a:hover {
  background-color: #da98d8;
  text-decoration: none;
  color: #FFFFFF;
}

#about .avatar {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin-left: 2em;
}